@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rufina:400,700&display=swap");

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #6c6c6f;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 27px;
}

a {
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;

	text-decoration: none; 
}

a:hover, a:focus {
	text-decoration: none;
	outline: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rufina', serif;
	font-weight: 700;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure {
	margin: 0;
}

section {
	display: block;
	position: relative;
	padding: 50px 0;
	width: 100%;
}

.section-h2-none {
	display: none;
	font-size: 0; 
}

.header {
	position: relative;
}

.header.abs-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.logo {
    /* width: 150px; */
    display: block;
    max-width: 150px;
}

.primary-menu {
	position: relative;
}

.primary-menu .mobile-menu {
	display: none;
}

/*
.primary-menu ul {
	padding: 20px 0; 
	bottom: 0;
}
*/

.primary-menu li a {
	color: #263a41;
	display: block;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 20px;
}

.primary-menu li a:hover {
	color: #ff817e;
}

@media screen and (max-width: 1200px) {
	.primary-menu .mobile-menu {
		color: #ff817e;
		display: block;
		font-size: 18px;
		position: absolute;
		right: 0;
		top: -30px;
	}

	.primary-menu ul {
		background-color: #fcf5ee;
		display: none;
		text-align: center;
		padding: 10px 0;
	}

	.primary-menu li a {
		padding: 10px 15px;
	}
}

@media screen and (min-width: 1200px) {
	.primary-menu li {
		display: inline-block;
	}
}

.banner {
	/* background: url(../images/left.png) no-repeat left center/12.5%; */
	padding: 12% 0;
	padding-top: 8rem;
	/* padding-right: 17rem;
	padding-left: 6rem; */
}

/*
.banner-content span {
	color: red;
}
*/

.banner span {
	color: #ff817e;
	display: block;
	font-family: "Rufina", serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin-bottom: 20px; 
}

.banner h2 {
	color: #1e2528;
	/* font-size: 42px; */
	line-height: 75px;
	margin-bottom: 25px;
}

.banner p {
	color: #555;
	margin-bottom: 50px;

	/* padding-right: 4rem; */
}

.banner .spa-img {
	width: 43.4%;
	position: absolute;
	right: 0;
	top: 0;
}

.btn {
	background-color: #ff817e;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 0.8;
	text-transform: uppercase;
	min-width: 170px;
	padding: 20px 15px;
}

.video-btn {
	color: #555;
	font-size: 15px;
	font-weight: 400;
}

.video-btn:hover {
	color: #ff817e;
}

.video-btn i {
	border-radius: 50%;
	background-color: #fcf5ee;
	color: #ff817e;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	margin-right: 10px;
	height: 44px;
	width: 44px;
}

@media screen and (max-width: 1199px) {
	.banner {
		padding-top: 15%;
	}	

	.banner h2 {
		font-size: 49px;
		line-height: 60px;
	}	
}

@media screen and (max-width: 676px) {
	.banner {
		padding-top: 130px;
	}

	.banner .spa-img {
		display: none;
	}		
}

@media screen and (max-width: 479px) {
	.banner h2 {
		font-size: 44px;
		line-height: 54px;
	}		

	.banner .video-btn {
		display: block;
		margin-top: 30px; 
	}		
}

@media screen and (min-width: 480px) {
	.banner .video-btn {
		margin-left: 15px; 
	}		
}

.about {
	text-align: center;
}

.about [class|=about] {
	position: absolute;
}

.about .about-1-pic {
	left: 16%;
	top: 0;
	max-width: 160px;
}

.about .about-2-pic {
	right: 135px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 88px;
}

.sec-heading {
	margin-bottom: 70px;
	position: relative;
	text-align: center;
}

.sec-heading img {
	max-width: 84px;
	margin: 0 auto 40px;
}

.sec-heading .tagline {
	color: #888;
	display: block;
	font-size: 20px;
	font-weight: 400;
	line-height: .8;
	text-transform: uppercase;

	margin-top: 100px;
	margin-bottom: 30px;
	padding-top: 100px;
	/* padding-bottom: 30px; */
}

.sec-heading .sec-title {
	color: #1e2528;
	font-size: 42px;
	margin-bottom: 32px;
}

.sec-heading p {
	color: #888;
	margin-bottom: 0;
}

.btn-round {
	border-radius: 50px;
}

.btn-round:hover {
	color: gray;
}

@media screen and (max-width: 991px) {
	.about .about-2-pic {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.sec-heading .sec-title {
		font-size: 33px;
	}
}

.service .service-caro {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-box-pack: justify;
	-ms-box-pack: justify;

	justify-content: space-between;
}

.service .single-service {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	position: relative;
}

.service .single-service .service-hover {
	background-color: rgba(255, 129, 126, 0.9);

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;

	-webkit-box-direction: normal;

	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-pack: center;
	-ms-flex-pack: center;

	justify-content: center;

	position: absolute;

	top: 0;
	left: 0;
	right: 0;

	text-align: center;

	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;

	opacity: 0;

	visibility: hidden;

	height: 100%;
	width: 100%;
}

.service .single-service .service-hover img {
	margin: 0 auto 20px;
	width: 47px;
}

.service .single-service .service-hover span {
	color: #fff;
	display: block;
	font-family: "Rufina", serif;
	font-weight: 700;
}

.service .single-service:hover .service-hover {
	opacity: 1;
	visibility: visible;
}

.procedures {
	position: relative;
}

.post {
	border: 1px solid #e3e6ea;
	text-align: center;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	padding: 20px;
	margin-bottom: 30px;
}

.post img {
	margin-bottom: 35px;
	width: 200px;
	display: block;
 	margin-left: auto;
    margin-right: auto;
 	margin-bottom: 30px;
}

.post h4 {
	margin-bottom: 22px;
}

.post h4, .post h4 a {
	color: #263a41;
	font-size: 22px;
}

.post .btn {
	background-color: #30383b;
	margin-bottom: 30px;
	padding: 15px;
}

.post:hover {
	-webkit-box-shadow: 0 5px 20px #f0f0f0;
	box-shadow: 0 5px 20px #f0f0f0;
	/* transition: all 300ms ease-in-out; */
}

.post:hover .btn {
	background-color: #ff817e;
	color: #fff;
}

.bg-lightred {
	background-color: #fff9f8;
}

.testimonials .single-testimonial {
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}

.testimonials .single-testimonial img {
	margin: 0 auto 45px;
	width: 59px;
}

.testimonials .single-testimonial p {
	color: #263a41;
	font-family: "Rufina", serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 43px;
}

.testimonials .single-testimonial .client-info .thumb {
	border-radius: 50%;
	margin-bottom: 22px;
	height: 76px;
	width: 76px;
}

.testimonials .single-testimonial .client-info p {
	font-size: 22px;
	margin-bottom: 0;
}

.testimonials .single-testimonial .client-info p span {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 300;
}

.testimonials {

}

@media screen and (min-width: 300px) {
	.banner p {
		padding-right: 183px; 
		/* color: blue; */
	}

	.banner h2 {
		font-size: 26px;
	}
}

@media screen and (min-width: 400px) {
	.banner p {
		padding-right: 183px; 
		/* color: red; */
	}

	.banner h2 {
		font-size: 26px;
	}
}

@media screen and (min-width: 500px) {
	.banner p {
		padding-right: 183px; 
		/* color: green; */
	}

	.banner h2 {
		font-size: 26px;
	}
}

@media screen and (min-width: 600px) {
	.banner p {
		padding-right: 183px; 
		/* color: blue; */
	}

	.banner h2 {
		font-size: 29px;
	}
}

@media screen and (min-width: 700px) {
	.banner p {
		padding-right: 183px; 
		/* color: black; */
	}

	.banner h2 {
		font-size: 31px;
	}
}

@media screen and (min-width: 800px) {
	.banner p {
		padding-right: 53px; 
		/* color: brown; */
	}

	.banner h2 {
		font-size: 40px;
	}
}

@media screen and (min-width: 900px) {
	.banner p {
		padding-right: 53px; 
		/* color: yellow; */
	}

	.banner h2 {
		font-size: 42px;
	}
}

@media screen and (min-width: 1000px) {
	.banner p {
		padding-right: 10px; 
		/* color: green; */
	}

	.banner h2 {
		font-size: 42px;
	}
/* 
	.banner__spa-img__right-png {
		width: 792px;
	}
*/
}

@media screen and (min-width: 1100px) {
	.banner p {
		padding-right: 10px; 
		/* color: blue; */
	}

	.banner h2 {
		font-size: 42px;
	}
/* 
	.banner__spa-img__right-png {
		width: 792px;
	}
*/
}

@media screen and (min-width: 1200px) {
	.banner p {
		padding-right: 10px; 
		/* color: brown; */
	}

	.banner h2 {
		font-size: 48px;
	}
/* 
	.banner__spa-img__right-png {
		width: 792px;
	}
*/
}

@media screen and (min-width: 1300px) {
	.banner p {
		padding-right: 10px; 
		/* color: yellow; */
	}

	.banner h2 {
		font-size: 50px;
	}
 
	.banner__spa-img__right-png {
		width: 792px;
	}
}