@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rufina:400,700&display=swap");

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #6c6c6f;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 27px;
}

a {
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;

	text-decoration: none; 
}

a:hover, a:focus {
	text-decoration: none;
	outline: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rufina', serif;
	font-weight: 700;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure {
	margin: 0;
}

section {
	display: block;
	position: relative;
	padding: 50px 0;
	width: 100%;
}

/*
.section-h2-none {
	display: none;
	font-size: 0; 
}
*/

.header {
	position: relative;
}

.header.abs-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.logo {
    /* width: 150px; */
    display: block;
    max-width: 150px;
}

.primary-menu {
	position: relative;
}

.primary-menu .mobile-menu {
	display: none;
}

/*
.primary-menu ul {
	padding: 20px 0; 
	bottom: 0;
}
*/

.primary-menu li a {
	color: #263a41;
	display: block;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 20px;
}

.primary-menu li a:hover {
	color: #ff817e;
}

@media screen and (max-width: 1200px) {
	.primary-menu .mobile-menu {
		color: #ff817e;
		display: block;
		font-size: 18px;
		position: absolute;
		right: 0;
		top: -30px;
	}

	.primary-menu ul {
		background-color: #fcf5ee;
		display: none;
		text-align: center;
		padding: 10px 0;
	}

	.primary-menu li a {
		padding: 10px 15px;
	}
}

@media screen and (min-width: 1200px) {
	.primary-menu li {
		display: inline-block;
	}
}

.banner {
	/* background: url(../images/left.png) no-repeat left center/12.5%; */
	padding: 12% 0;
	padding-top: 8rem;
	/* padding-right: 17rem;
	padding-left: 6rem; */
}

/*
.banner-content span {
	color: red;
}
*/

.banner span {
	color: #ff817e;
	display: block;
	font-family: "Rufina", serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin-bottom: 20px; 
}

.banner h2 {
	color: #1e2528;
	/* font-size: 42px; */
	line-height: 75px;
	margin-bottom: 25px;
}

.banner p {
	color: #555;
	margin-bottom: 50px;

	/* padding-right: 4rem; */
}

.banner .spa-img {
	width: 43.4%;
	position: absolute;
	right: 0;
	top: 0;
}

.btn {
	background-color: #ff817e;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 0.8;
	text-transform: uppercase;
	min-width: 170px;
	padding: 20px 15px;
}

.video-btn {
	color: #555;
	font-size: 15px;
	font-weight: 400;
}

.video-btn:hover {
	color: #ff817e;
}

.video-btn i {
	border-radius: 50%;
	background-color: #fcf5ee;
	color: #ff817e;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	margin-right: 10px;
	height: 44px;
	width: 44px;
}

@media screen and (max-width: 1199px) {
	.banner {
		padding-top: 15%;
	}	

	.banner h2 {
		font-size: 49px;
		line-height: 60px;
	}	
}

@media screen and (max-width: 676px) {
	.banner {
		padding-top: 130px;
	}

	.banner .spa-img {
		display: none;
	}		
}

@media screen and (max-width: 479px) {
	.banner h2 {
		font-size: 44px;
		line-height: 54px;
	}		

	.banner .video-btn {
		display: block;
		margin-top: 30px; 
	}		
}

@media screen and (min-width: 480px) {
	.banner .video-btn {
		margin-left: 15px; 
	}		
}

.about {
	text-align: center;
}

.about [class|=about] {
	position: absolute;
}

.about .about-1-pic {
	left: 16%;
	top: 0;
	max-width: 160px;
}

.about .about-2-pic {
	right: 135px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 88px;
}

.sec-heading {
	margin-bottom: 70px;
	position: relative;
	text-align: center;
}

.sec-heading img {
	max-width: 84px;
	margin: 0 auto 40px;
}

.sec-heading .tagline {
	color: #888;
	display: block;
	font-size: 20px;
	font-weight: 400;
	line-height: .8;
	text-transform: uppercase;
}

.sec-heading .sec-title {
	color: #888;
	display: block;
	font-size: 20px;
	font-weight: 400;
	line-height: .8;
	text-transform: uppercase;
}

@media screen and (min-width: 300px) {
	.banner p {
		padding-right: 183px; 
		/* color: blue; */
	}

	.banner h2 {
		font-size: 26px;
	}
}

@media screen and (min-width: 400px) {
	.banner p {
		padding-right: 183px; 
		/* color: red; */
	}

	.banner h2 {
		font-size: 26px;
	}
}

@media screen and (min-width: 500px) {
	.banner p {
		padding-right: 183px; 
		/* color: green; */
	}

	.banner h2 {
		font-size: 26px;
	}
}

@media screen and (min-width: 600px) {
	.banner p {
		padding-right: 183px; 
		/* color: blue; */
	}

	.banner h2 {
		font-size: 29px;
	}
}

@media screen and (min-width: 700px) {
	.banner p {
		padding-right: 183px; 
		/* color: black; */
	}

	.banner h2 {
		font-size: 31px;
	}
}

@media screen and (min-width: 800px) {
	.banner p {
		padding-right: 53px; 
		/* color: brown; */
	}

	.banner h2 {
		font-size: 40px;
	}
}

@media screen and (min-width: 900px) {
	.banner p {
		padding-right: 53px; 
		/* color: yellow; */
	}

	.banner h2 {
		font-size: 42px;
	}
}

@media screen and (min-width: 1000px) {
	.banner p {
		padding-right: 10px; 
		/* color: green; */
	}

	.banner h2 {
		font-size: 42px;
	}
}

@media screen and (min-width: 1100px) {
	.banner p {
		padding-right: 10px; 
		/* color: blue; */
	}

	.banner h2 {
		font-size: 42px;
	}
}

@media screen and (min-width: 1200px) {
	.banner p {
		padding-right: 10px; 
		/* color: brown; */
	}

	.banner h2 {
		font-size: 48px;
	}
}

@media screen and (min-width: 1300px) {
	.banner p {
		padding-right: 10px; 
		/* color: yellow; */
	}

	.banner h2 {
		font-size: 50px;
	}
}